*{
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:0;
}

:root {
    --black: #151515;
    --white: white;
    --light-grey: #7c7c7c;
    --brand-blue: #5845ee;
    --brand-blue-hover: #3323b4;
    --border-color: #dfe5f4;
    --background-grey: #f8fafb;
    --2025--blue: #1a124a;
    --grey: #566072;
    --divider-color: #eaeff7;
    --monster: #0b8560;
    --10-blue: #4f7bea1a;
    --not-so-green: #09969e;
    --violet: #8e3cdd;
    --pinky-swear: #cd619b;
    --pale-blue:#e0e5fe;
}

.section-main-header{
    background-color: var(--2025--blue);
    color:var(--white);
}

.interact{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom:72px;
}
.talkbase-logo{
    width:20px;
    height:20px;
}
.nav-item{
    margin: 0 8px 65px;
    display:inline-flex;
    font-size:1.2vw;
}
.nav-item:hover{
    cursor:pointer;
    background: rgba(0,0,0,0.25);
}
.list-interact{
    margin: 2% 10% 0;
}
.login{
    color:var(--white);
    text-decoration: none;
}
.general-info{
    display:flex;
    justify-content: center;
    border:1px solid #312670;
    border-radius: 999px;
    width: fit-content;
    margin: 0 auto;
    transition: opacity ease-in 0.15s;
}
.read-more{
    margin-left:5px;
    color: var(--brand-blue);
    transition: opacity ease-in 0.15s;
}
.general-info:hover{
    cursor:pointer;
    opacity: 0.5;
}
.read-more:hover{
    cursor:pointer;
    opacity: 0.5;
}
.introduct{
    text-align: center;
}
.header{
    font-size:3vw;
    width:50%;
    margin: 0 auto;
}
.sub-header{
    font-size:1.2vw;
    width:33%;
    margin: 0 auto;
}
.never{
    background:linear-gradient(90deg,var(--2025--blue),var(--white)) text;   
}
.get-started{
    margin: 0 44%;
    font-size: 1vw;
    padding:1%;
    background-color: var(--brand-blue);
    color:var(--white);
    border-radius: 8px;
    border:none;
    transition: opacity ease-in 0.15s;
}
.get-started:hover{
    cursor:pointer;
    opacity:0.5;
}
.section-main-screen{
    display:flex;
    flex-direction: column;
}
.dashboard-image{
    background: var(--2025--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-image{
    width:50vw;
    height:50vh;
    margin:5% 25% 0%;
    border-radius: 1vw;
}
.small-dashboard-image{
    display: flex;
    justify-content: left;
}
.small-image{
    width:15vw;
    height:30vh;
    margin:-11vw 25%;
    border-radius: 1vw;
}
.section-main-logo{
    margin:10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grey-text{
    color: var(--grey);
    font-size:1.25vw;
    margin-bottom: 2%;
}
.section-main-addons{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.addons-header{
    background:linear-gradient(180deg,rgba(224,229,254,0.4),var(--white));
}
.highlight-paragraph{
    color: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    width:fit-content;
    margin:5% auto 5%;
    border-radius:1vw;
}
.heading-addon{
    display:flex;
    margin:0 auto 5%;
    justify-content: center;
    font-size: 2vw;
}
.slogan-addon{
    display:flex;
    margin:0 auto 5%;
    justify-content: center;
    font-size: 1.2vw;
    width:68%;
    text-align: center;
}
.addons-box{
    display:flex;
    flex-direction: column;
}
.analytic{
    display:flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid #f0f3f8;
    border-radius: 1vw;
    background-color:#f0f3f8;
    outline-color:#f0f3f8;
}
.icon{
    width:3vw;
    height:3vw;
    margin:2% auto 2%;
}
.merge-icon{
    width:3vw;
    height:3vw;
    margin:5% 10% 10%;
}
.addons-heading{
    margin:0 auto 2%;
}
.merge-addons-heading{
    margin:0 10% 2%;
}
.addons-paragraph{
    margin:0 auto 2%;
    text-align: center;
    width:70%;
    color:var(--grey);
}
.merge-addons-paragraph{
    margin:0 10%;
    width:70%;
    font-size:1.2vw;
    color:var(--grey);
}
.big-image{
    width:35vw;
    height:35vh;
    margin:0 auto;
}
.small-image-addons{
    width:70%;
    height:70%;
    margin:0 auto;
    position:relative;
}
.first-merge{
    display:flex;
    justify-content: space-around;
    margin:0 auto 2%;
}
.second-merge{
    display:flex;
    flex-direction: column;
    flex-basis:45%;
}
.sentiment{
    display:flex;
    border: 1px solid #f2f2fe;
    border-radius: 1vw;
    margin-bottom: 5%;
    height:30vh;
    background-color:#f2f2fe;
    outline-color:#f2f2fe;
}
.engament{
    display:flex;
    border: 1px solid #e3ecfe;
    border-radius: 1vw;
    height:30vh;
    background-color:#e3ecfe;
    outline-color:#e3ecfe;
}
.crm{
    display:flex;
    border: 1px solid #e3f1ed;
    border-radius: 1vw;
    width:92%;
    margin:0 4%;
    background-color:#e3f1ed;
    outline-color:#e3f1ed;
}
.link-header{
    margin:5% 13% 2%;
    font-size:2vw;
}
.link-paragraph{
    margin:5% 13% 3%;
    width:75%;
    font-size:1.2vw;
    color:var(--grey);
}
.logo-link{
    display:flex;
    flex-direction: row;
    width: 70%;
    margin:2% 10%;
}
.link-item{
    display:inline-flex;
    margin: 2% 1% 2%;
}
.image{
    width:5vw;
    padding:20%;
    border: 1px solid var(--light-grey);
    border-radius: 99px;
    height:10vh;
}
.link-intergrations{
    text-decoration: none;
    color:var(--brand-blue);
    width:70%;
    margin:0 13%;
    font-size:1.2vw;
    font-weight:600;
}
.introduct-header{
    margin:10% 13% 5%;
    font-size:2vw;
}
.comment-box{
    display:flex;
    flex-direction: row;
    width:70%;
    margin:0 11.75%;
    justify-content: space-around;
}
.first-comment{
    display:flex;
    flex-direction: column;
    border:1px solid var(--grey);
    border-radius: 20px;
    flex-basis:47%;
}
.comment-logo{
    margin: 3% 5%;
}
.content-comment{
    margin: 3% 5%;
    font-size:1.35vw;
    width:80%;
}
.name-and-position{
    display:inline-flex;
    flex-direction: column;
}
.avatar{
    width:3vw;
    height:3vw;
    border-radius:99px;
    position:relative;
    top:30%;
    margin:0 5%;
}
.second-comment{
    display:flex;
    flex-direction: column;
    border:1px solid var(--grey);
    border-radius: 20px;
    flex-basis:47%;
}
#comment{
    margin: 13% 5%;
}
.name-user{
    font-weight:600;
}
.clear-effect{
    color:var(--black);
    text-decoration: none;
}